<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/png" />
    <link rel="stylesheet" href="style.css">
    <title>Unicode Table</title>
  </head>
  <body>
    <div id="app">
      <h3>Unicode Table (Unifont {{unifontVersion}})</h3>
      <input @keyup.enter="convert" type="text" placeholder="0x30-0x40" v-model="range" />
      <button @click="convert">Dump</button>
      <table v-if="chars.length">
        <thead>
          <th>Decimal</th>
          <th>Hex</th>
          <th>Character</th>
        </thead>
        <tbody>
          <tr v-for="char in chars">
            <td>{{char.code}}</td>
            <td>{{char.code.toString(16)}}</td>
            <td>{{char.char}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="app.js"></script>
  </body>
</html>
